//====================================================================================================
.footer {
    background-color:#00004A;
    color: $whiteColor;
    padding: rem(45) rem(0);
    @media (max-width:$mobile){
         padding: rem(20) rem(0); 
    }
}
//====================================================================================================
