//====================================================================================================
.header {
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	top: 0;
	padding: rem(25) rem(0);
	color: $whiteColor;
	&._thanks{
		background: #00004A;
	}
	&__menu {
	}
}
.menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(15);
	&__logo {
		flex: 1 1 32.33%;
	}
	&__logo-link {
		font-family: 'Neumann';
		font-weight: 400;
		@include adaptiveValue("font-size", 28,26 );
		line-height: math.div(28 , 41);
		text-transform: uppercase;
	}
	&__body {
		flex: 1 1 32.33%;
		@media (max-width:$mobile){
			 flex: 1 1 100%;
		}
	}
	&__list {
		display: flex;
		justify-content:center;
		align-items: center;
		margin: rem(0) rem(-10) rem(0) rem(0);
		@media (max-width:$mobile){
			justify-content: flex-start; 
		}
	}
	&__item {
		padding: rem(0) rem(10) rem(0) rem(0);
	}
	&__link {
		display: flex;
		justify-content:center;
		align-items: center;
		width: rem(40);
		height: rem(40);
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 3px;
		font-size: rem(20);
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
			background: linear-gradient(92.7deg, #E9C878 0%, #C1A050 100%);
			color: rgba(255, 255, 255, 1);
			}
		}
	}
	&__contacts {
		flex: 1 1 32.33%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		@media (max-width:$tablet){
			align-items: flex-start;
		}
	}
}
.contacts-menu {
	&__text{
		margin-bottom: rem(5);
	}
	&__text,
	&__work-time{
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(19 , 16);
		span{
			color: rgba(233, 200, 120, 1);
		}
	}
	&__phone {
		font-weight: 400;
		@include adaptiveValue("font-size", 26, 24);
		line-height: math.div(31 , 26);
		margin-bottom: rem(5);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__work-time {
		position: relative;
		padding: rem(0) rem(0) rem(0) rem(15);
		&::after{
			content:'';
			position: absolute;
			left: 0;
			top: 50%;
			width: rem(5);
			height: rem(5);
			border-radius: 50%;
			transform: translate(0px,-50%);
			background: #14BE5C;
			box-shadow: 0px 1px 10px rgba(20, 190, 92, 0.75);
		}
	}
}
//====================================================================================================