@use "sass:math";

// Соединение миксов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Соединяющие шрифты ===========================================================================================================================================================================================================================================================================
//&display=swap - Добавьте при подключении через плагин

// Подключитесь, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение шрифтов значков ==============================================================================================================================================================================================================================================================================
// Подключите, если есть файл шрифта значка
@import "fonts/icons";
 

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "MuseoSansCyrl";
$fontSize: rem(14); // тоже 14(px) - Размер шрифта по умолчанию из макета
$fontWeight: 300;

// Основні кольори
$mainColor: rgba(40, 41, 46, 0.8); // Цвет шрифта по умолчанию
$whiteColor: white;
$greenColor: #06B436;
$redColor: #B40606;
$blueColor: #007AFF;


// Адаптировать адаптивную сетку ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина холста (макет)
$maxWidth: 1540;
// Ширина контейнера ограничения (0 = Нет ограничений)
$maxWidthContainer: 1170;
// Общее отступление из контейнера
// (30 = по 15px Лево и право, 0 = Нет отступления)
$containerPadding: 20;
// ширина первого Breikpoint
$containerWidth: $maxWidthContainer + $containerPadding;

//Перерыв
$pc: em($containerWidth); // ПК, ноутбуки, некоторые таблетки в горизонтальном положении
$tablet: em(991.98); // Таблетки, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Адаптируемый тип:
// 1 = отзывчивость (контейнер не имеет точек останова),
// 2 = по точке разрыва (контейнер меняет ширину на точку разрыва)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Вверх ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
// сайт загружен!
html {
	&.loaded {
		.className{}   // имя класса для которого ловим onLoad
	}
    &.touch{
        .gallery-houses__main-desc{
            transform: translate(0,0);
            opacity: 1;
        }
    }
}
body {
	// свиток заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Обертка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Мы нажимаем нижний колонтитул
	> main {
		flex: 1 1 auto;
	}
	// Исправлена ​​ползунки
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применены к
все классы, содержащие *__container
К примеру header__container, main__container и т.п.
Фрагмент (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Контрольные точки
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// Сединение основных стилей, шаблонов (заготовки) и вспомогательных классов
// для подключения/отключения конкретных стилей см. Base.scss
@import "base";


// Соединение стилей отдельных блоков
@import "header";
@import "footer";

//common

._title {
	font-family: 'Neumann';
	font-weight: 400;
	@include adaptiveValue("font-size", 68, 35);
	line-height: math.div(100 , 68);
	color: #28292E;
	margin-bottom: em(15, 68);
}

._sub-title {
	font-family: 'Neumann';
	font-style: normal;
	font-weight: 400;
	@include adaptiveValue("font-size", 45, 25);
	line-height: math.div(66 , 45);
	color: #28292E;
	margin-bottom: em(40, 45);
}

.form-page{
    &__form {
        min-width: rem(290);
        width: 100%;
        @media (max-width:$tablet){
            text-align: center;
			max-width: 100%;
        }
    }
    &__input {
        max-width: rem(370);
        text-align: center;
        width: 100%;
        display: block;
        height: rem(80);
        font-weight: 300;
        font-size: rem(16);
        line-height: math.div(19 , 16);
        letter-spacing: 0.1em;
        text-align: center;
        color: #A0A0A0;
        padding: rem(10) rem(20);
        background: #F5F5F5;
        box-shadow: inset 0px 2px 0px #EBEBEB;
        border-radius: 220px !important;
        margin-bottom: rem(10);
        @media (max-width:$mobile){
            max-width: 100%;    
        }
    }
    &__button {
        max-width: rem(370);
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        @include adaptiveValue("gap",25 , 10);
        padding: rem(10) rem(20);
        white-space: nowrap;
        height: rem(82);
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #6E5A45;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
        background: linear-gradient(92.7deg, #E9C878 0%, #C1A050 100%);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 220px;
        margin-bottom: rem(15);
        &::before{
            @include adaptiveValue("font-size", 30, 26, 0, 1540,992);      
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $whiteColor;
            }
        }
        @media (max-width:$mobile){
            max-width: 100%;    
        }
    }
    &__agreement {
        font-weight: 300;
        @include adaptiveValue("font-size", 14, 12);
        line-height: math.div(20 , 14);
        max-width: rem(370);
        margin: 0 auto;
        text-align: center;
    }
    &__agreement-link {
        text-decoration: underline;
    }
	&.book__form{
        .form-page__input {
            margin-left: auto;
            margin-right: auto; 
        }
        .form-page__button {
            margin-left: auto;
            margin-right: auto;  
        }
        .form-page__agreement {
            color: $whiteColor;
        }
    }
}
._free {
	background-color: $greenColor;
}
._sold {
	background-color: $redColor;
}
._book {
	background-color: $blueColor;
}
.gradient-icon{
    position: absolute;
    width: 100px;
    height: 101px;
    z-index: 7;
    background: url('@img/svg/360.svg') center / cover no-repeat;
    &::after{
        content:'';
        position: absolute;
        width: rem(34);
        height: rem(34);
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: url('@img/svg/360-degrees.png') center / cover no-repeat;
    }
}

// Соединение стилей отдельных страниц
@import "home";
@import "thanks";

